/*светлая тема*/
body .menu1 {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: block;
    width: 100%;
    height: auto;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    color: #64b5f6;
}

body footer {
    background-color: #64b5f6;
    color: #212121;
    font-size: 15px;
}

body .welcome {
    background: linear-gradient(to bottom right, white 50%, #64b5f6 50%);
    margin-top: 46px;
    padding-bottom: 319px;
    text-align: center;
    color: black;
}

body .fragment {
    border-radius: 10px;
    background: white;
    border-color: #64b5f6;
    border-style: solid;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    z-index: 99;
    -webkit-box-shadow: 30px 18px 0px 7px rgba(100,180,246,1);
    -moz-box-shadow: 30px 18px 0px 7px rgba(100,180,246,1);
    box-shadow: 30px 18px 0px 7px rgba(100,180,246,1);
}

body .shadow-box {
    height: 97px;
    width: 1250px;
    background: #64b5f6;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    margin-left: 65px;
    margin-top: 40px;
}

body .download {
    background: linear-gradient(to bottom right, #64b5f6 50%, #fff 50%);
    color: black;
}

body .description {
    color: #000;
}

body center h1 {
    margin-top: 0;
    margin-bottom: 0;
    background: #64b5f6;
}

body .about-site {
    border-width: 0; 
    padding-top: 50px;
    padding-bottom: 20px;
}

body .btn {
    position: relative;
    top: 50px;
	font-size: 20px;
	color: #fff;
	background: #64b5f6;
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
    transition: .5s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body .btn:hover {
    background: white;
    color: #000;
}

body .about-site h1 {
    background: white;
    color: #000;
}

body .welcome a {
    color: #000;
}

body .about-creator {
    background: #fff;
}

body .about-creator h1 {
    background: #fff;
    color: #000;
}

/*тёмная тема*/
body.dark .menu1 {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #212121;
    display: block;
    width: 100%;
    height: auto;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    box-shadow: 0px 3px 14px 4px rgba(0,0,0,0.27);
    color: #1e88e5;
}

body.dark .welcome a {
    color: #fff;
}

body.dark footer {
    background-color: #1e88e5;
    color: #212121;
    font-size: 15px;
}

body.dark .welcome {
    background: linear-gradient(to bottom right, #212121 50%, #1e88e5 50%);
    margin-top: 46px;
    padding-bottom: 319px;
    text-align: center;
    color: #f5f5f5;
}

body.dark .fragment {
    border-radius: 10px;
    background: #212121;
    color: #f5f5f5;
    border-color: #1e88e5;
    border-style: solid;
    z-index: 99;
    -webkit-box-shadow: 30px 18px 0px 7px rgba(30,136,229,1);
    -moz-box-shadow: 30px 18px 0px 7px rgba(30,136,229,1);
    box-shadow: 30px 18px 0px 7px rgba(30,136,229,1);
}

body.dark .shadow-box {
    height: 97px;
    width: 1250px;
    background: #1e88e5;
    border-color: #212121;
    border-style: solid;
    border-radius: 10px;
    margin-left: 65px;
    margin-top: 40px;
}

body.dark .download {
    background: linear-gradient(to bottom right, #1e88e5 50%, #212121 50%);
    color: #f5f5f5;
}

body.dark .description {
    color: #f5f5f5;
}

body.dark center h1 {
    margin-top: 0;
    margin-bottom: 0;
    background: #1e88e5;
}

body.dark .about-site {
    border-width: 0; 
    padding-top: 50px;
    padding-bottom: 20px;
    background: #212121;
}

body.dark .btn {
    position: relative;
    top: 50px;
	font-size: 20px;
	color: #212121;
	background: #1e88e5;
	text-decoration: none;
	padding: 20px 70px;
	border-radius: 10px;
	background-size: 200%;
    transition: .5s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body.dark .btn:hover {
    background: #212121;
    color: #f5f5f5;
}

body.dark img {
    border-color: #fff;
    border-style: solid;
}

body.dark .about-site h1 {
    background-color: #212121;
    color: #f5f5f5;
}

body.dark .about-creator {
    background: #212121;
}

body.dark .about-creator h1 {
    background: #212121;
    color: #f5f5f5;
}